h1{
    font-size: 50px;
    color: rgba(26, 40, 240, 0.507);
    border: 5px solid white;
}

.red{
    color: red;
    font-weight: bold;
}

body{
    background-image: url('./images/sky.webp') ;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

#heading{
    color: white;
    text-align: center;
}

#headshot{
    width: 300px;
    height: auto;
}

a:hover{
    color: rgb(255, 153, 0);
    font-size: 115%;
}

h2{
    font-size: 40px;
    color: lightgoldenrodyellow;
}

h3{
    text-align: center;
    border: 2px solid white;
    border-radius: 3px;
    width: 320px;
    
}

#container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#work{
    width: 320px;
    text-align: center;
}

#firstrow{
    width:320px;
    height:50px;
    background-color:lightgray;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

tr:nth-child(odd){
    background-color:rgba(194, 152, 228, 0.733);
}
tr:nth-child(even){
    background-color:rgba(133, 255, 249, 0.671);
}

#quote{
    font-style: italic;
    text-align: center;
}
    


